<div class="row">
  <%= render 'shared/left_menu' %>
  <div class="col-md-8 col-md-offset-1">
    <h1>Общая статистика</h1>
    <form action= '/general_statistics'>
      <a href="#">Сайт</a>
      <select name="option_site_id" required><option> <%= @last_site.name if @last_site %> </option>
        <% @sites.each do |site| %>
        <option value= "<%= site.id %>" > <%= site.name%> </option>
        <% end %>
        <input type="submit" value="Отправить">
    </form>

    <p>
      <%= @params %>

    </p>




    <%= render 'shared/persons_table' %>
  </div>
</div>
