<div class="row">
  <%= render 'shared/left_menu' %>
  <div class="col-md-8 col-md-offset-1">
    <%= render 'shared/error_message' %>
    <h1>Ежедневная статистика</h1>
    <%= form_tag("/daily_statistics", method: "get", class: 'filter_form') do %>
    <table class='table_form'>
      <tbody>
        <tr>
          <td>
            <%= label_tag(:option_site_id, "Сайт") %>
          </td>
          <td>
            <%= select_tag :option_site_id, options_for_select(options_for_select_models(@sites, @last_site)) %>
          </td>
          <td>
            <%= label_tag(:option_site_id, "Начальная Дата") %>
          </td>
          <td>
            <%= date_select(:date, :start, use_two_digit_numbers: true, selected: @date_range.first) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= label_tag(:option_site_id, "Личность") %>
          </td>
          <td>
            <%= select_tag :option_person_id, options_for_select(options_for_select_models(@persons, @last_person)) %>
          </td>
          <td>
            <%= label_tag(:option_site_id, "Конечная Дата") %>
          </td>
          <td>
            <%= date_select(:date, :finish, use_two_digit_numbers: true, selected: @date_range.last) %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= submit_tag("Применить") %>
    <% end %>

    <%= render 'shared/count_page_table' %>
  </div>
</div>
